.container {
  border-radius: 5px;
  width: 100vw;
  height: 100vh;
  background-color: bisque;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resizable {
  position: absolute;
  border: 2px solid #613838;
  height: 100px;
  width: 100px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15px;
  min-height: 15px;
}

.resizer {
  position: absolute;
  background: black;
}

.resizer-r {
  cursor: col-resize;
  height: 100%;
  right: 0;
  top: 0;
  width: 3px;
}

.resizer-t {
  cursor: row-resize;
  width: 100%;
  top: 0;
  left: 0;
  height: 3px;
}

.resizer-b {
  cursor: row-resize;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 3px;
}

.resizer-l {
  cursor: col-resize;
  height: 100%;
  left: 0;
  top: 0;
  width: 3px;
}

.dont-push {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50px;
  right: 50px;
  border: 2px solid black;
}

.resizable-element {
  width: 200px;
  height: 150px;
  border: 1px solid #ccc;
  resize: both; /* Enables both horizontal and vertical resizing */
  overflow: auto; /* Optional, adds scrollbars when content overflows */
}
